*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

.diff-view {
  max-width: 8.5in;
  width: auto;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  margin: 0 auto;
  margin: 20px;
  margin: 40px auto;
  padding: 20px;
  margin-right: 320px;
}

.diff-view .added {
  background-color: #e6ffed;
}

.diff-view .removed {
  background-color: #ffeef0;
  text-decoration: line-through;
}

.link-button {
  position: fixed;
  top: 8vh;
  right: 2vw;
  display: block;
  padding: 8px 16px;
  background-color: #4285f4;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 16px;
  z-index: 1000;
}

.link-button:hover {
  background-color: #0d47a1;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #f4f4f4;
  border-left: 1px solid #d1d1d1;
  padding: 20px;
  z-index: 10;
}

.sidebar-item {
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-height: 85px;
}

.sidebar-item > div {
  color: #1a73e8;
  font-weight: 700;
}

.sidebar-item.selected {
  background-color: #e8f0fe;
}

.sidebar h3 {
  margin: 0 0 8px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 4px 0;
  cursor: pointer;
}

.sidebar li:hover {
  text-decoration: underline;
}

.ql-container.ql-snow {
  border: none !important; /* 去掉边框 */
}

/* textEditorStyles.css */

.container {
  max-width: 80vw;
  margin: 5vh auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #d9d9d9;
  min-height: 90vh;
}

.ql-toolbar {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.ql-container {
  border-radius: 0 0 4px 4px;
}

.ql-editor {
  min-height: 70vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
